{{!-- {{> partial_here }} --}}

{{> head }}
    {{> navbar }}
    <div class="row">
        {{!-- first column --}}
        <div class="col-md-8">
            <h1>Texto 1</h1>
        </div>
        {{!-- second column --}}
        <div class="col-md-4">
            <h1>Texto 2</h1>
            <img src="./assets/images/3101125e825c6900d99.png" class="img-thumbnail">
        </div>
    </div>


    
{{> footer}}